# FastAPI and Server
fastapi
uvicorn[standard]

# Database and ORM
sqlalchemy
psycopg2-binary
alembic

# Data Validation and Settings
pydantic[email]
pydantic-settings

python-dotenv

# Security
passlib[bcrypt]

# Testing
pytest
httpx